<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RSVP App</title>

  </head>
  <body>
            <li class="active"><%= link_to 'Events', events_path %></li>

        <%= yield %>

</body>
</html>
